@{
    ViewData["Title"] = "Maxim";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]<span id="result2"></span></h3>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#videoEnd').click(function () {
            $.ajax({
                type: 'GET',
                url: '/home/nextDestiny',
                success: function (result) {
                    $('#result2').html(result);
                    $('#player').attr('src', result);
                }
            });
        });
        $('#addDestiny').click(function () {
            var destinyText = $('#newDestinyField').val();
            $.ajax({
                type: 'GET',
                url: '/home/addDestiny/' + destinyText,
                success: function () {
                    $('#newDestinyField').html("");
                }
            });
        });
    });
</script>
<script type="text/javascript">
    // what a heck is going on with tabulation here?
    $(document).ready(function ()
    {
        $('#START').click(function ()
        {
            $.ajax({
                type: 'GET',
                url: '/home/startOver',
                success: function (result) {
                    ConfigurePlayer(result);
                    SendNextTrack();
                }
            });
        });
            
    });
    function ConfigurePlayer(result)
    {
        SetSource(result.src);
        SetVolume(result.volume);
        SetCurrentTime(result.time);
    }
    function SetSource(src)
    {
        $('#player').attr('src', src);
    }
    function SetVolume(vol)
    {
        $('#player').attr('volume', vol);
    }
    function SetCurrentTime(time)
    {
        $('#player').attr('currentTime', time);
    }
    function SendNextTrack()
    {
        $.ajax({
            type: 'GET',
            url: '/home/nextTrack',
            success: function (result) {
                ConfigurePlayer(result);
                SendNextTrack();
            }
        });
    }
</script>

<button id="videoEnd">
    Press me to refresh the destiny
</button>

<button id="addDestiny">
    Press me to add a destiny
</button>

<button id="START">
    START PLAYING
</button>
<input type="text" id="newDestinyField">

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>
<video autoplay id="player" src="" >
    <p>If you are reading this, it is because your browser does not support the HTML5 video element.</p>
</video>